<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="Todo Project"
            canFinishEarly="false"
            icon="icons/vogella16.jpg"
            category="com.vogella.resources.todo"
            class="com.vogella.resources.NewTodoProjectWizard"
            project="true"
            id="com.vogella.resources.wizard.todoproject">
      </wizard>
      <category
            name="Vogella"
            id="com.vogella.resources.todo">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            name="Todo Project"
            icon="icons/vogella16.jpg"
            class="com.vogella.resources.ImportWizard1"
            id="com.vogella.resources.wizard1">
      </wizard>
      <category
            name="Vogella"
            id="com.vogella.resources.category1">
      </category>
   </extension>
   <extension
         id="com.vogella.resources.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
