<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="com.vogella.resources.todo"
            class="com.vogella.resources.NewTodoProjectWizard"
            icon="icons/vogella16.jpg"
            id="com.vogella.resources.wizard.todoproject"
            name="Todo Project"
            project="true">
      </wizard>
      <category
            id="com.vogella.resources.todo"
            name="Vogella">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="com.vogella.resources.ImportWizard1"
            icon="icons/vogella16.jpg"
            id="com.vogella.resources.wizard1"
            name="Todo Project">
      </wizard>
      <category
            id="com.vogella.resources.category1"
            name="Vogella">
      </category>
   </extension>

</plugin>
